.modal {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
}
.modal__container {
	position: relative;
	opacity: 1;
	background-color: #fff;
	padding: 50px;
	border-radius: 10px;
}

.modal__container__close {
	position: absolute;
	top: 30px;
	right: 30px;
}
